.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: white;
    padding: 50px;
    border-radius: 3px;
}

button {
    border-radius: 1px;
    padding: 10px 20px;
    margin: 10px 20px;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}